@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');
body{
    background-color: rgb(228,231,237) !important;
    font-family: 'Quicksand', sans-serif !important;
}
.head{
    background-image: linear-gradient(to right, #5e5ab3, #9a518e, #a8596d, #a06b5e, #907b65);
}
.btn2{
    background-color: rgb(236,102,17) !important;
}
a,.span-1{
    color: #56bfdc !important;
}
.free{
  font-size: 14px !important;
}
.sign-in{
  font-size: 11px !important;
}
.plan{
  font-size: 18px !important;
}
.terms{
    font-size: 12px !important;
}
.hr{
  color: gray !important;
}
.btn1{
    background-color: rgb(236,102,17) !important;
    font-size: 14px;
    padding: 12px;
}

.btn1:hover{
  background-color: rgb(236,102,17) !important;
}

.add,.input-group-text, [type="password"]{
    background-color: rgb(245,246,250) !important;
    height: 50px;
  }

.input-group-text a{
    color: #8F9098 !important;
}

@media only screen and (max-width: 575px) {
  .order {
    margin-top: .5rem;
    margin-bottom: .5rem;
    }
}

@media only screen and (max-width: 350px) {
  .sign-in {
    font-size: 12px;
    text-align: center !important;
    margin: 15px 0px !important;
    }
    .password,.last{
      margin-top: 8px;
    }
    .order{
      margin-top: 8px;
    }
}